* {
    font-family: 'Raleway', sans-serif;
}
html {
    background-color: #dcdcdc;
}

body {
    height: calc(100% - 60px);
    position: relative;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

hr {
    border-style: solid;
    border-color: lightgray;
}

span, b, i, p, label, input {
}

input {
    border-radius: 5px;
    border-style: groove;
    font-size: 1.2em;
    width: 100%;
}

canvas {
    border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content-wrapper {
    height: 100%;
}

.menu-wrapper, .graphic-wrapper, .threads-wrapper {
    background-color: white;
    padding: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 2px;
    overflow: hidden;
}

.menu-wrapper {
    position: relative;
    text-align: center;
}

.menu {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
}

#function {
    font-size: 2em;
    margin-bottom: 10px;
}

.data-input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.inline {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.incolumn {
    position: relative;
    display: flex;
    flex-direction: column;
}

.constants {
    font-size: 1.5em;
}

.static-const {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-data-wrapper {
    margin-bottom: 10px;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
}

.input-name {
    text-align: left;
}

.half {
    width: 50%;
}

.button-wrapper {
    width: 100%;
    margin-top: 22px;
    display: flex;
    justify-content: space-around;
}

#calc-button {
    width: 400px;
    font-size: 2em;
    background-color: #31bfec;
    color: white;
    border: none;
    border-radius: 5px;
}

.result-wrapper {
    display: flex;
    height: 400px;
}

.graphic-wrapper {
    position: relative;
    width: 50%;
    padding: 0;
}

#graphic {
    height: 100%;
}

#bar-chart {
    padding-top: 30px;
    height: 100%;
    width: 100%;
}

.block-name-wrapper {
    position: absolute;
    text-align: center;
    top: 25px;
    left: 0;
    width: 100%;
    z-index: 10;
}

.block-name {
    font-size: 1.5em;
}

.info-wrapper {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
}

.info {
    width: 50%;
    text-align: center;
}

.info-text {
    border-radius: 10px;
    padding: 3px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.threads-wrapper {
    position: relative;
    width: 50%;
}

.stub {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 10px;
    z-index: 100;
    visibility: hidden;
    pointer-events: none;
}

.loading-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid transparent;
    border-top-color: #31bfec;
    border-bottom-color: #31bfec;
    border-radius: 100%;
    opacity: 1;
    animation: rotate 0.5s infinite;
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-svg {
    background: transparent !important;
    border-radius: 10px;
}

#scene {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}