@import '../../colors';

.catalog-container {
  display: flex;
  flex-direction: column;
  &__header {
    margin-bottom: 15px;
    align-self: center;
  }
  &__error {

  }
  &__loading {

  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    &__card {
      &.even {
        background-color: $red-dark-10 !important;
      }
      background-color: $red-light-20;
      width: 33%;
      max-width: 350px;
      max-height: 620px;
      aspect-ratio: 1 / 1.2;
      display: grid;
      grid-template-areas:
              "image"
              "data"
              "order";
      grid-template-rows: 1fr 10fr 4fr;
      text-align: center;
      &__image-container {
        grid-area: image;
        padding: 2vh;
        margin-top: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 10px;
          background: white;
          object-fit: contain;
          width: 80%;
          max-height: 266px;
          aspect-ratio: 1 / 1;
        }
      }
      &__data {
        padding: 2vh;
        grid-area: data;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 1.3rem;
        &__name {
          text-transform: uppercase;
        }
        &__description {
          align-self: center;
          font-size: 0.8rem;
          height: 100px;
          overflow: hidden;
        }
      }
      &__order {
        grid-area: order;
        margin: 2vh auto;
        padding: 1vh;
        width: 80%;
        max-width: 130px;
        aspect-ratio: 3 / 1;
        background-color: white;
        border: 2px solid $red-dark-70;
        font-size: 1.1rem;
        border-radius: 1vh;
        color: $red-light-10;
      }
    }
  }
}
