.comments-container {
  margin: 10px;
  .comments-cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .comment-card {
      max-width: 300px;
      background: white;
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
    }
  }
}
