<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Surface Builder</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <link rel="shortcut icon" type="image/png" href="./assets/img/favicon.png">
</head>
<body>
    <section id="home">
        <div class="home-background"></div>

        <h1>
            Course Work
        </h1>

        <h2>
            Made by Gaponiko
        </h2>

        <nav class="nav-bar">
            <span onclick="jump('calculation')" class="nav-bar-link">Calculations</span>
            <span>|</span>
            <span onclick="jump('surface')" class="nav-bar-link">Surface</span>
            <span>|</span>
            <span onclick="jump('threads')" class="nav-bar-link">Thread Comparison</span>
            <span>|</span>
            <span onclick="jump('about')" class="nav-bar-link">About</span>
        </nav>
    </section>
    <section id="calculation">
        <header class="section-header">
            <h3 class="section-name">
                Calculations
            </h3>

            <nav class="nav-bar">
                <span onclick="jump('home')" class="nav-bar-link">Home</span>
                <span>|</span>
                <span onclick="jump('surface')" class="nav-bar-link">Surface</span>
                <span>|</span>
                <span onclick="jump('threads')" class="nav-bar-link">Thread Comparison</span>
                <span>|</span>
                <span onclick="jump('about')" class="nav-bar-link">About</span>
            </nav>
        </header>

        <div class="section-content">
            <div class="data-wrapper inline">
                <div class="half const-data-wrapper">
                    <div class="inline" id="function">
                        <span>
                            <b>Function:</b>
                            <i>z = Ax<sup>2</sup> + By<sup>2</sup> + Ce<sup>-x</sup> + De<sup>-y</sup></i>
                        </span>
                    </div>

                    <div style="margin-bottom: 5%" class="inline constants">
                        <span><b>A</b> = 2</span>
                        <span><b>B</b> = 2</span>
                    </div>

                    <div class="inline constants">
                        <span><b>C</b> = 3</span>
                        <span><b>D</b> = 3</span>
                    </div>

                </div>
                <div class="half input-data-wrapper">
                    <div class="inline" style="margin-top: 80px">
                        <div class="data-input-wrapper">
                            <label for="x-st">x<sub>st</sub></label>
                            <input type="number" class="data-input" id="x-st" placeholder="-60" onkeyup="checkError()">
                            <span class="input-error" id="x-beg-error">x<sub>st</sub> can not be greater than x<sub>fin</sub></span>
                        </div>
                        <div class="data-input-wrapper">
                            <label for="x-fin">x<sub>fin</sub></label>
                            <input type="number" class="data-input" id="x-fin" placeholder="60" onkeyup="checkError()">
                            <span class="input-error" id="x-fin-error">x<sub>fin</sub> can not be less than x<sub>st</sub></span>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="data-input-wrapper">
                            <label for="y-st">y<sub>st</sub></label>
                            <input type="number" class="data-input" id="y-st" placeholder="-60" onkeyup="checkError()">
                            <span class="input-error" id="y-beg-error">y<sub>st</sub> can not be greater than y<sub>fin</sub></span>
                        </div>
                        <div class="data-input-wrapper">
                            <label for="y-fin">y<sub>fin</sub></label>
                            <input type="number" class="data-input" id="y-fin" placeholder="60" onkeyup="checkError()">
                            <span class="input-error" id="y-fin-error">y<sub>fin</sub> can not be less than y<sub>st</sub></span>
                        </div>
                    </div>
                    <div class="inline">
                        <div class="data-input-wrapper">
                            <label for="step">Step</label>
                            <input type="number" class="data-input" id="step" placeholder="1" onkeyup="checkError()">
                            <span class="input-error" id="step-error">step can not be less or equals than zero</span>
                        </div>
                    </div>
                </div>
            </div>

            <button id="calc-button" onclick="showResults()">Calculate</button>
        </div>
    </section>
    <section id="surface">
        <header class="section-header">
            <h3 class="section-name">
                Surface
            </h3>

            <nav class="nav-bar">
                <span onclick="jump('home')" class="nav-bar-link">Home</span>
                <span>|</span>
                <span onclick="jump('calculation')" class="nav-bar-link">Calculations</span>
                <span>|</span>
                <span onclick="jump('threads')" class="nav-bar-link">Thread Comparison</span>
                <span>|</span>
                <span onclick="jump('about')" class="nav-bar-link">About</span>
            </nav>
        </header>

        <div class="section-content">
            <div id="graphic">
                <div id="graphic-stub" class="stub">
                    <div class="loading-info">
                        <div class="loader-wrapper">
                            <div class="loader"></div>
                        </div>
                        <div class="loading-span-wrapper">
                            <span id="graphic-loading-span" class="loading-span">Waiting for data entry...</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info-wrapper inline">
                <div class="info">
                    <span class="info-text">
                        <b>S<sub>sur</sub></b> =
                        <span id="square">0 m<sup>2</sup></span>
                    </span>
                </div>
                <div class="info">
                    <span class="info-text">
                        <b>Fault</b> =
                        <span id="fault">0</span>%
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section id="threads">
        <header class="section-header">
            <h3 class="section-name">
                Thread Comparison
            </h3>

            <nav class="nav-bar">
                <span onclick="jump('home')" class="nav-bar-link">Home</span>
                <span>|</span>
                <span onclick="jump('calculation')" class="nav-bar-link">Calculations</span>
                <span>|</span>
                <span onclick="jump('surface')" class="nav-bar-link">Surface</span>
                <span>|</span>
                <span onclick="jump('about')" class="nav-bar-link">About</span>
            </nav>
        </header>

        <div class="section-content">
            <div id="bar-chart">
                <div id="bar-chart-stub" class="stub">
                    <div class="loading-info">
                        <div class="loader-wrapper">
                            <div class="loader"></div>
                        </div>
                        <div class="loading-span-wrapper">
                            <span id="bar-loading-span" class="loading-span">Waiting for data entry...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <header class="section-header">
            <h3 class="section-name">
                About
            </h3>

            <nav class="nav-bar">
                <span onclick="jump('home')" class="nav-bar-link">Home</span>
                <span>|</span>
                <span onclick="jump('calculation')" class="nav-bar-link">Calculations</span>
                <span>|</span>
                <span onclick="jump('surface')" class="nav-bar-link">Surface</span>
                <span>|</span>
                <span onclick="jump('threads')" class="nav-bar-link">Thread Comparison</span>
            </nav>
        </header>
        <div class="section-content"></div>
    </section>

    <div onclick="jumpToLeft()" id="left-arrow" class="arrow-bubble">
        <div class="pointer-wrapper">
            <div class="pointer">

            </div>
        </div>
    </div>
    <div onclick="jumpToRight()" id="right-arrow" class="arrow-bubble">
        <div class="pointer-wrapper">
            <div class="pointer">

            </div>
        </div>
    </div>

    <div class="map">
        <div id="home-point" class="map-point chosen-point"></div>
        <div id="calculation-point" class="map-point"></div>
        <div id="surface-point" class="map-point"></div>
        <div id="threads-point" class="map-point"></div>
        <div id="about-point" class="map-point"></div>
    </div>

    <script src="js/plotly-latest.min.js"></script>
    <script src="js/view.js"></script>
</body>
</html>