.inputComponent {
  display: flex;
  gap: 10px;
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  padding: 20px;
}

.inputHeader {
  margin: auto;
}

.inputLineContainer {
  display: flex;
  gap: 10px;
}

.addButton {
  width: max-content;
}

.searchButton {
  width: max-content;
}
